<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HeaderDoc</title>
  <link rel="stylesheet" href="/style.css">
</head>

<body>

  <nav>
    <h1><a href="/">eLearn</a></h1>
    <ul>
      <% if (user) { %>
        <li>Hey! Welcome, <%= user.email %>
        </li>
        <li style="background-color: red;" ><a href="/logout">LOG OUT</a></li>
        <% } else { %>
          <li><a href="/login">LOG IN</a></li>
          <li><a href="/signup" class="btn">SIGN UP</a></li>
          <% } %>
    </ul>
  </nav>