<%- include('partials/header'); -%>

    <div class="coursesweeks">
        <div>WEEK 1</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/O5nskjZ_GoI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/M5BZou6C01w" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/pQocN_c2uLI" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <br><br><br>
        <div>WEEK 2</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/4NfFFsQC77M" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/9thHVXFltAA" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/pQN-pnXPaVg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <br><br><br>
        <div>WEEK 3</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/RSIclWvNTdQ" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/Y8zMYaD1bz0" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/x7tLPhnA06w" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <br><br><br>
        <div>WEEK 4</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/W6NZfCO5SIk" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/PkZNo7MFNFg" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/0ik6X4DJKCc" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <br><br><br>
        <div>WEEK 5</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/zb3Qk8SG5Ms" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/OIBIXYLJjsI" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/-HPZ1leCV8k" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <br><br><br>
        <div>WEEK 6</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/DQD00NAUPNk" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/bdHE2wHT-gQ" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/Lr9WUkeYSA8" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <br><br><br>
        <div>WEEK 7</div>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/SnoAwLP1a-0" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/muhJTRQ7WMk" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>
        <iframe width="400" height="300" src="https://www.youtube.com/embed/uiKwHx2K1Fo" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" 
        allowfullscreen></iframe>

    </div>


    <%- include('partials/footer'); -%>